<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Orderno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-orderno" data-rule="required" class="form-control" name="row[orderno]" type="text" value="{$row.orderno|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uname" data-rule="required" class="form-control" name="row[uname]" type="text" value="{$row.uname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Uphone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-uphone" data-rule="required" class="form-control" name="row[uphone]" type="text" value="{$row.uphone|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Udemand')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-udemand" class="form-control" name="row[udemand]" type="text" value="{$row.udemand|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shoottime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shoottime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[shoottime]" type="text" value="{:$row.shoottime?datetime($row.shoottime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ordermoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ordermoney" class="form-control" step="0.01" name="row[ordermoney]" type="number" value="{$row.ordermoney|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cbmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cbmoney" class="form-control" step="0.01" name="row[cbmoney]" type="number" value="{$row.cbmoney|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sysmoney')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sysmoney" class="form-control" step="0.01" name="row[sysmoney]" type="number" value="{$row.sysmoney|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cbimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cbimage" class="form-control" size="50" name="row[cbimage]" type="text" value="{$row.cbimage|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-cbimage" class="btn btn-danger plupload" data-input-id="c-cbimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-cbimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cbimage" class="btn btn-primary fachoose" data-input-id="c-cbimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cbimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-cbimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dgimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-dgimage" class="form-control" size="50" name="row[dgimage]" type="text" value="{$row.dgimage|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-dgimage" class="btn btn-danger plupload" data-input-id="c-dgimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-dgimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-dgimage" class="btn btn-primary fachoose" data-input-id="c-dgimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-dgimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-dgimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wkimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-wkimage" class="form-control" size="50" name="row[wkimage]" type="text" value="{$row.wkimage|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-wkimage" class="btn btn-danger plupload" data-input-id="c-wkimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-wkimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-wkimage" class="btn btn-primary fachoose" data-input-id="c-wkimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-wkimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-wkimage"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sxmsg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sxmsg" class="form-control" name="row[sxmsg]" type="text" value="{$row.sxmsg|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
